body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcf2dc; /* Added background color */
}
  
  .question-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    max-width: 800px; /* specify a max width */
    width: 100%; /* make it responsive */
    margin: 20px auto; /* centering the container horizontally */
  }
  
  .option-container {
    display: flex;
    flex-wrap: wrap; /* to handle overflow */
    justify-content: flex-start; /* align items to the left */
  }
  
  .option-container input[type="radio"],
  .option-container input[type="checkbox"],
  .option-container label {
    margin-right: 20px; /* increase the space between the elements */
  }
  
  .option-container select,
  .option-container input[type="range"] {
    width: 50%; /* reduce the width of the slider and select */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .option-container select:focus,
  .option-container input[type="range"]:focus {
    outline: none;
    border-color: #aaa;
  }
  
  .slider {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

#top3 {
    margin-left: 20px;
    border: 2px solid #666;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
  }
  
  #top3 p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }

  button {
    background-color: #fdc072; /* Modified button color */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    cursor: pointer;
    border-radius: 4px;
    width: 120px;
    transition: all 0.3s ease;
}

button:hover{
    color: #fdc072; /* Modified hover text color to match button color */
    background-color: white;
}
  
.subtext {
    font-size: 0.8em;
    color: #666;
}
  